{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "__DEV__": false,
    "__DEV_TOOLS__": false
  },
  "rules": {
    "id-length": 0,
    "max-len": [1, 100, 2],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "block-scoped-var": 0,
    "padded-blocks": 0
  },
  "plugins": [
    "react"
  ]
}
