{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "babel",
    "prettier"
  ],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "generators": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-bitwise": 0,
    "no-nested-ternary": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "react/no-unused-prop-types": 0,
    "no-sequences": 1,
    "comma-dangle": 0,
    "no-mixed-operators": 0,
    "no-underscore-dangle": 0,
    "no-restricted-properties": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "import/no-extraneous-dependencies": 0,
    "no-plusplus": 0,
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "react/sort-comp": 0,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true
      }
    ]
  },
  "settings": {
    "polyfills": [
      "fetch__"
    ]
  },
  "globals": {}
}