language: node_js
node_js:
  - stable
cache:
  directories:
    - node_modules
before_script:
  - git diff --exit-code # make sure that yarn.lock didn't change
script:
  - yarn test:lint
  - yarn test
